.articulo-detalle h2{
    text-align: center;
    margin-bottom: 15px;
    color: var(--verdeOliva);
}

/* Detalles de un articulo y su imagen en grande */
.articulo-detalle .imagen-articulo.grande {
    width: 98%;
    height: auto;
    margin-bottom: 15px;
    max-height: 700px;  
    border-radius: 8px;
    overflow: hidden;
}

/* Datos */

.articulo-detalle .datos {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.articulo-detalle .datos h3 {
    margin: 0;               
    line-height: 1.2;        
}

.articulo-detalle .datos .fechas {
    display: flex;
    flex-direction: column;  
    margin-top: 10px;
    margin-bottom: 15px;
}

.articulo-detalle .datos p {
    color: var(--textoSecundario);
    margin-bottom: 18px;
    font-size: 0.95rem;
    margin-bottom: 35px;
    
}