/* ===== Puntos de Ruptura (Breakpoints) ===== */
/* Móviles pequeños: max-width: 576px */
/* Móviles y tabletas (vertical): max-width: 768px */
/* Tabletas (horizontal): max-width: 992px */
/* Monitores: min-width: 1200px */

/* ESTILOS PARA EL FORMULARIO DE EDITAR ARTICULOS */

.modificaciones-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  text-align: center;
  width: 100%; 

  h2 {
    color: var(--verdeOliva);
    margin-bottom: 20px;
  }

}

.formulario {
  width: 100%;
  background: var(--blanco);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);  
}

.formulario .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  text-align: left;  
}

.formulario label {
  font-weight: bold;
  margin-bottom: 8px;  
  color: var(--textoPrincipal);
}

.formulario input[type="text"],
.formulario textarea,
.formulario input[type="file"] {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: var(--blanco);
  font-size: 14px;
}

.formulario textarea {
  resize: vertical;
  min-height: 100px;
}

.formulario input[type="text"]:focus,
.formulario textarea:focus,
.formulario input[type="file"]:focus {
  border-color: var(--verdeClaro);
  outline: none;
}

/* Móviles y tabletas (vertical): max-width: 768px */
@media (max-width: 768px) { 
  .modificaciones-container{
    background-color: red;
    width: 40%; 

  }
  
}