.Bienvenida {
  display:flex;
  flex-direction: column;  
  margin-bottom: 20px;
}

.en-construccion {
  display: flex;
  align-items: center;
  gap: 15px;
  text-align: center;
  padding: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: var(--naranjaQuemado); /* o el color que prefieras */
}

.en-construccion i {
  font-size: 3rem; /* Ajusta el tamaño del ícono */  
}