/* ===== Puntos de Ruptura (Breakpoints) ===== */
/* Móviles pequeños: max-width: 576px */
/* Móviles y tabletas (vertical): max-width: 768px */
/* Tabletas (horizontal): max-width: 992px */
/* Monitores: min-width: 1200px */

/* ===== Layout ===== */
.layout {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "content content lateral"
    "footer footer footer";  
  grid-template-rows: 100px 70px auto 60px;
  grid-template-columns: 2fr 1fr;
  min-height: 100vh;
  gap: 10px;  
}

/* DISEÑO RESPONSIVE */

/* Tabletas y móviles (vertical): max-width: 768px */
@media (max-width: 768px) {
  .layout {
    grid-template-areas:
      "header"
      "nav"
      "content"
      "lateral"
      "footer";
    grid-template-rows: 100px 5px auto auto 60px;
    grid-template-columns: 1fr;
    gap: 0px; /* Puedes ajustar el espacio entre las secciones si lo necesitas */
  }
}