/* ===== Puntos de Ruptura (Breakpoints) ===== */
/* Móviles pequeños: max-width: 576px */
/* Móviles y tabletas (vertical): max-width: 768px */
/* Tabletas (horizontal): max-width: 992px */
/* Monitores: min-width: 1200px */

/* ===== Header ===== */
.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Alinea los elementos a los extremos */
  padding: 0 1rem; /* Añade un poco de espacio en los lados */
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: 700;
  background: var(--beige);
  box-shadow: 0 3px 8px rgba(0,0,0,0.08);
  letter-spacing: 1px;
}

.titulo-container {
  display: flex; 
  align-items: center;  
}

.header h1 {
  font-size: 1.8rem;
  color: var(--marron);
}

.menu-hamburguesa {
  display:none;
}

/* En escritorio, el botón de hamburguesa está oculto */
.nav-toggle {
  display: none;  
}

/* Móviles pequeños: max-width: 576px */
@media (max-width: 576px) {

  .header {
    /* justify-content: space-between; */
    padding: 0 1rem;
  }

  /* El botón de hamburguesa se muestra */
  .nav-toggle {
    display: block;
    font-size: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--verdeOliva);
  }

  .menu-hamburguesa {
    /* Por defecto, el menú está fuera de la pantalla */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 100vh;
    background-color: var(--beige);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 10;
  }

  /* La clase 'show' hace visible el menú */
  .menu-hamburguesa.show {
    transform: translateX(0);
  }

  .menu-hamburguesa li {
    margin: 1.5rem 0;
    font-size: 1.5rem;
  }
}

