/* ===== Puntos de Ruptura (Breakpoints) ===== */
/* Móviles pequeños: max-width: 576px */
/* Móviles y tabletas (vertical): max-width: 768px */
/* Tabletas (horizontal): max-width: 992px */
/* Monitores: min-width: 1200px */

/* ===== Estilos para Escritorio (901px o más) ===== */
.nav {
  display: flex;
  justify-content: center; 
  align-items: center;
  grid-area: nav;
  background: var(--verdeOliva);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: relative;  
}



/* El menú es horizontal por defecto */
.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 100%;
  
  /* Eliminamos el margen para que esté pegado al buscador */
  margin: 0;
  padding: 0;
}

.nav-menu li {
  margin: 0 20px;
}

.nav-menu li:last-child {
  margin-right: 35px;
}

.nav-menu li a {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--blanco);
  text-decoration: none;
  transition: all 0.3s;
}

.nav-menu li a:hover {
  transform: scale(1.2);
}

/* --- DISEÑO RESPONSIVE --- */

/* Móviles y tabletas (vertical): max-width: 768px */
@media (max-width: 768px) {
  .nav {
    display: block; /* Vuelve a un display de bloque para el diseño móvil */
  }

  .nav-menu li {
    margin: 0 10px;
  }

  .nav-menu li a {
    font-size: 1rem;
  }
  
}

/* Móviles pequeños: max-width: 576px */
@media (max-width: 576px) { 
  
  .nav-menu {
    /* Oculta toda la lista, incluyendo el buscador */
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
  }

  /* Aplica un estilo solo al último elemento, que es el buscador */
  .nav-menu li:last-child {
    display: block; /* Muestra solo el buscador */
    margin: 0;
    width: 100%;
    text-align: center;
  }

  .nav {
    justify-content: center;
    padding: 10px 0;
    width: 100%;
  }

  .buscador-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}