/* ===== Puntos de Ruptura (Breakpoints) ===== */
/* Móviles pequeños: max-width: 576px */
/* Móviles y tabletas (vertical): max-width: 768px */
/* Tabletas (horizontal): max-width: 992px */
/* Monitores: min-width: 1200px */

/* ===== Estilos para Escritorio (901px o más) ===== */
.nav {
  display: flex;
  justify-content: center; 
  align-items: center;
  grid-area: nav;
  background: var(--verdeOliva);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: relative;  
  
}

/* El menú es horizontal por defecto */
.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 100%;
  
  /* Eliminamos el margen para que esté pegado al buscador */
  margin: 0;
  padding: 0;

}

.nav-menu li {
  margin: 0 20px;
}

.nav-menu li:last-child {
  margin-right: 35px;
}

.nav-menu li a {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--blanco);
  text-decoration: none;
  transition: all 0.3s;
}

.nav-menu li a:hover {
  transform: scale(1.2);
}

.seeker-content {  
  display:none;
}


/* --- DISEÑO RESPONSIVE --- */

/* Móviles y tabletas (vertical): max-width: 768px */
@media (max-width: 768px) {  

  .nav-menu li {
    margin: 0 5px;
  }

  .nav-menu li a {
    font-size: 1rem;
  }
  
}

/* Móviles pequeños: max-width: 576px */
@media (max-width: 576px) { 
  
  .nav {      
      display: block; /* Vuelve a un display de bloque para el diseño móvil */
      justify-content: center;
      align-items: center;
      padding: 0 1rem;       
  }

  .nav-menu {
    display: none; 
  }

  .seeker-content {  
    display:flex;
    justify-content: center;
    margin-top: 20px;    
  }

  .seeker-menu {
    display: none;
  }
   
}