/* ===== Puntos de Ruptura (Breakpoints) ===== */
/* Móviles pequeños: max-width: 576px */
/* Móviles y tabletas (vertical): max-width: 768px */
/* Tabletas (horizontal): max-width: 992px */
/* Monitores: min-width: 1200px */

/* TEMAS CON LOS COLORES */
@import './theme.css';

/* ===== Reset y base ===== */
* { box-sizing: border-box; margin: 0; padding: 0; }
body {
  font-family: 'Playfair Display', 'Georgia', serif;
  background: var(--fondo);
  color: var(--textoPrincipal);
  /* line-height: 1.7; */
}

/* ===== Tipografía global ===== */
h1, h2, h3, p {
  color: var(--textoPrincipal);
}

/* clase común en varios componentes */
.jumbo {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  text-align: center;
  width: 100%; 

  h2 {
    color: var(--verdeOliva);
    margin-bottom: 20px;
  }  
  
}

/* ESTILOS PARA LOS MENSAJES DE ESTADO. COMÚN EN VARIOS COMPONENTES */

.mensajes-de-estado {
    margin-top: 1rem;
    text-align: center;
}

.mensaje-cargando {
    color: var(--textoSecundario);
}

.mensaje-error {
    color: var(--rojoSuave);
    font-weight: bold;
}

.mensaje-exito {
    color: var(--verdeOliva);
    font-weight: bold;
}

/* BOTONES COMUNES EN VARIOS COMPONENTES*/

/* Botones dentro de artículo */
.botones-articulos {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* ===== Botones artículos estilo 'button', más pequeños ===== */
.botones-articulos .edit,
.botones-articulos .delete,
.botones-articulos .back {
  display: inline-block;
  padding: 8px 18px;           /* un poco más pequeños que .button */
  font-size: 1rem;             /* ligeramente más pequeño */
  font-weight: 600;
  color: var(--blanco);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 3px 8px rgba(0,0,0,0.15);
  transition: transform 0.3s, background 0.3s;
}

/* Editar */
.botones-articulos .edit {
  background: var(--verdeClaro);
}

.botones-articulos .edit:hover {
  background: var(--verdeOliva);
  transform: scale(1.05);
}

/* Borrar */
.botones-articulos .delete {
  background: var(--rojoSuave); 
}

.botones-articulos .delete:hover {
  background: var(--rojoFuerte);
  transform: scale(1.05);
}

/* Volver */
.botones-articulos .back {
  background: var(--naranjaQuemado);
}

.botones-articulos .back:hover {
  background: var(--marron);
  transform: scale(1.05);
}

/* DISEÑO RESPONSIVE */

/* Móviles pequeños: max-width: 576px */
@media (max-width: 576px) { 
  .botones-articulos {    
    text-align: center;
  }
}

